<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RubyAcad.RubyAcadSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="RubyAcad.RubyAcad" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IronRubyHome" value="c:\\ironruby-0.9.0"/>
    <add key="IronRubyPaths" value="/lib/ironRuby;/lib/Ruby/site_ruby/1.8;/lib/Ruby/site_ruby;/lib/Ruby/1.8;/bin" />
    <add key="AcadHome" value="C:\\Program Files (x86)\\AutoCAD Civil 3D 2009"/>
    <add key="Test" value="Some String" />
  </appSettings>
  <userSettings>
    <RubyAcad.RubyAcadSettings>
      <setting name="IronRubyHome" serializeAs="String">
        <value>c:/ironruby-0.9.0/</value>
      </setting>
      <setting name="IronRubyPaths" serializeAs="String">
        <value>lib/ironRuby;lib/Ruby/site_ruby/1.8;lib/Ruby/site_ruby;lib/Ruby/1.8;/bin</value>
      </setting>
      <setting name="AcadHome" serializeAs="String">
        <value>C:/Program Files (x86)/AutoCAD Civil 3D 2009/</value>
      </setting>
      <setting name="AcadRequires" serializeAs="String">
        <value>acmgd.dll;acdbmgd.dll;acmgdinternal.dll</value>
      </setting>
    </RubyAcad.RubyAcadSettings>
    <RubyAcad.RubyAcad>
      <setting name="IronRubyHome" serializeAs="String">
        <value>c:\\ironruby-0.9.0</value>
      </setting>
      <setting name="IronRubyPaths" serializeAs="String">
        <value>/lib/ironRuby;/lib/Ruby/site_ruby/1.8;/lib/Ruby/site_ruby;/lib/Ruby/1.8;/bin</value>
      </setting>
      <setting name="AcadHome" serializeAs="String">
        <value>C:\\Program Files (x86)\\AutoCAD Civil 3D 2009</value>
      </setting>
    </RubyAcad.RubyAcad>
  </userSettings>
</configuration>